<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="QuestionsApp.Properties.Settings.QuestionAppConnectionString"
            connectionString="Data Source=UMC-1040-1147\SQLEXPRESS;Initial Catalog=QuestionApp;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="QuestionsApp.Properties.Settings.QuestionAppConnection"
            connectionString="Data Source=UMC-1040-1351\SQLEXPRESS;Initial Catalog=QuestionApp;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>